        body {
            background-color: rgb(37, 150, 190)
        }
        .nagy-meretu-betu {
            font-size: 100px;
        }
        .kozepre-igazitott {
            text-align: center;
        }
        .bekezdes-betu-merete {
            font-size: 35px;
        }
        .kozepre-igazitott {
            text-align: center;
        }
        .kicsi-meret {
            font-size: 29px;
        }
        .balra-igazitott {
            text-align: left;
        }
        .jobbra-igazitott {
            text-align: right;
        }
        .ures-ter-fentrol {
            margin-top: 115px;
        }
        .ures-ter-alulrol {
            margin-bottom: 115px;
        }
        .alap-szin {
            color: rgb(126, 194, 218)
        }