        body {
            background-color: rgb(0, 128, 153)
        }
        .nagy-meretu-betu {
            font-size: 100px;
        }
        .kozepre-igazitott {
            text-align: center;
        }
        .bekezdes-betu-merete {
            font-size: 25px;
        }
        .kozepre-igazitott {
            text-align: center;
        }
        .kicsi-meret {
            font-size: 20px;
        }